In [7]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [9]:
df = pd.read_csv("./dataset/fires.csv")
X = df[["Folder", "filename"]]
y = df["label"]

In [3]:
df

,Unnamed: 0,Folder,filename,label
0,0,Fire Images,92983122.jpg,1
1,1,Fire Images,wildfire-coverage-521x308.jpg,1
2,2,Fire Images,201307-restroom-fire-safety-fire1.jpg,1
3,3,Fire Images,X-Files_Office_on_fire.jpg,1
4,4,Fire Images,tree-fire.jpg,1
...,...,...,...,...
646,536,Normal Images 5,ThinkstockPhotos-505230568-540x359.jpg,0
647,537,Normal Images 5,thiet-ke-san-vuon-biet-thu-14.JPG,0
648,538,Normal Images 5,sygard_grytting_historic_hotel_lillehammer_nor...,0
649,539,Normal Images 5,stalag.jpg,0
650,540,Normal Images 5,Sunset-Sky.png,0

In [5]:
selector = np.random.rand(len(df)) < 0.75
df_train, df_test = df[selector], df[~selector]
df_train

,Unnamed: 0,Folder,filename,label
0,0,Fire Images,92983122.jpg,1
1,1,Fire Images,wildfire-coverage-521x308.jpg,1
2,2,Fire Images,201307-restroom-fire-safety-fire1.jpg,1
4,4,Fire Images,tree-fire.jpg,1
5,5,Fire Images,mfs_fire_investigation_image_bedroom_with_cand...,1
...,...,...,...,...
646,536,Normal Images 5,ThinkstockPhotos-505230568-540x359.jpg,0
647,537,Normal Images 5,thiet-ke-san-vuon-biet-thu-14.JPG,0
648,538,Normal Images 5,sygard_grytting_historic_hotel_lillehammer_nor...,0
649,539,Normal Images 5,stalag.jpg,0
650,540,Normal Images 5,Sunset-Sky.png,0

In [6]:
df_test

,Unnamed: 0,Folder,filename,label
3,3,Fire Images,X-Files_Office_on_fire.jpg,1
6,6,Fire Images,fire-and-truck-desert-an-aerial-view-of-a-very...,1
9,9,Fire Images,House-Fire-3-Odegard.jpg,1
15,15,Fire Images,bus-fire.jpg,1
16,16,Fire Images,room-fire.jpg,1
...,...,...,...,...
626,516,Normal Images 5,Standard-single-1600x900.jpg,0
629,519,Normal Images 5,tumblr_nyrywkyp4Y1tql859o1_1280.jpg,0
633,523,Normal Images 5,sunset_sky_2_by_manichysteriastock-d3bjiec1.jpg,0
634,524,Normal Images 5,room6_450_reload.jpg,0
641,531,Normal Images 5,x14862823.jpg,0

In [24]:
len(df_test[df["label"] == 1])

/Users/tasfiaaddrita/.virtualenvs/class_virtual_env-6SOPAHRP/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

37

In [ ]:
len(df_test[df["column_name"] != 5])

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [14]:
X_train

              Folder                                        filename
563  Normal Images 5  The-growing-sector-of-automobiles-in-India.jpg
294  Normal Images 2                                   cph_virt2.jpg
118  Normal Images 1            6587c2f0d1e9e056c1f18e65b3fbe7b5.jpg
361  Normal Images 2            e3d93d96e76e00a0c1df99a94f33c921.jpg
454  Normal Images 3           mountains-Kirkjufe_3374110a-large.jpg
..               ...                                             ...
9        Fire Images                        House-Fire-3-Odegard.jpg
359  Normal Images 2                       atlantis-092712-328_1.jpg
192  Normal Images 1            4205c7bf872ff65b5569a54616e7fc4b.jpg
629  Normal Images 5             tumblr_nyrywkyp4Y1tql859o1_1280.jpg
559  Normal Images 5  visa_requirements_for_norway-56e03f4b96539.jpg

[488 rows x 2 columns]

In [15]:
y_train

563    0
294    0
118    0
361    0
454    0
      ..
9      1
359    0
192    0
629    0
559    0
Name: label, Length: 488, dtype: int64